#image{
    border-radius: 50%;
    height:200px;
    width: 200px;
    text-align: center;
    float: right;
    justify-content: center;
}


a,p,h1{
    padding:20px;
    font-size: 40px;
    margin: 10px;
}

p{
    
    font-size: 30px;
    color: aliceblue;
}
header{
    background-color: aquamarine;

}li{
    display: inline;
    float: right;
    padding: 10px;
    background-color: aquamarine;
}
body{
    background-color: pink;
}
.about-me{
    margin: 10px;
    background-color: gray;
}
